.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.input {
  border: none;
  box-sizing: border-box;
  display: block;

  width: 100%;
  height: 50px;

  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;

  background: #ecf0f3;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  font-size: 14px;

  outline: none;
}

.signUpButton {
  border: none;
  box-sizing: border-box;
  display: block;
  outline: none;
  padding: 0;
  width: 100%;

  background: #1fa2ff;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  transition: 0.5s;
}

.signUpButton:hover {
  background-position: right center; /* change the direction of the change here */
  background: #12d8fa;
  text-decoration: none;
}
